#header{
    background-color:#69DEA1;
    margin: 0px;
    padding: 0px;
    height: 92px;
}
.title{
    font-weight: 24px;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    padding:27px;
}
.gnav{
    position: absolute;
    top: 0;
    right: 0;
}
.gnav-item{
    line-height: 62px;
    display: flex;
    padding: 0 20px;
    list-style: none;
}
.gnav-item :hover{
    background-color: rgba(255,255,255)
}
li{
    padding: 10px;
}
}
.gnav-title{
    display:none;
}