#header{
    background-color:#13e29c;
    margin: 0px;
    padding: 0px;
    height: 92px;
}
.title{
    font-weight: 24px;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}
.gnav{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.gnav-item{
    line-height: 92px;
    padding: 0 10px;
    float: right;
}
}
.gnav-title{
    display:none;
}